@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Covered+By+Your+Grace&display=swap');


/* ---------------------------- */
 
/* ----------------------- */
  /* .lt-section {
    background-color: #E3F8F8;
    padding: 60px 30px;
  }

  .lt-title {
    text-align: center;
    font-size: 63px;
    font-family: 'Inter', sans-serif;
    padding: 0px 0;
    color: #2E2F35;
    margin-top: 0;
  }

  .lt-highlight {
    font-family: 'Covered By Your Grace', cursive;
    color: #009387;
    font-weight: 300;
  }

  .lt-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
  }

  .lt-card {
    text-decoration: none;
    margin-bottom: 10%;
  }

  .lt-image {
    width: 100%;
    object-fit: cover;
    border-radius: 20px;
    height: 80%;
  }

  .lt-content p {
    font-size: 18px;
    color: #2E2F35;
    margin-bottom: 1rem;
    line-height: 1.5;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
  }

  @media (max-width: 768px) {
    .lt-grid {
      grid-template-columns: 1fr 1fr;
    }
  }

  @media (max-width: 480px) {
    .lt-grid {
      grid-template-columns: 1fr;
    }
  } */


  /* ------------------- */
  .ft-root {
    padding: 2rem;
    background: #f9f9f9;
  }

  .ft-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
  }

  .ft-col {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }

  .ft-eco-img {
    width: 90%;
  }

  .ft-links {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
    list-style-type: none;
    padding: 0;
    cursor: pointer;
    text-align: left;
  }

  .ft-links,
  .ft-contact p,
  .ft-eco p,
  .ft-bottom p {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 14px;
  }

  .ft-contact h3,
  .ft-company h3 {
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    font-size: 12px;
  }

  .ft-bottom {
    margin-top: 5%;
    padding-top: 2rem;
    border-top: 1px solid #ccc;
  }

  .ft-copy {
    text-align: right;
  }

  .ft-btn-primary {
    background: #f96332;
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    text-decoration: none;
  }

  .ft-btn-secondary {
    border: 2px solid black;
    padding: 0.5rem 1rem;
    color: black;
    border-radius: 5px;
    text-decoration: none;
    background: white;
  }

  .ft-buttons a {
    margin: 0 0.25rem;
  }

  @media (max-width: 768px) {
    .ft-container {
      grid-template-columns: 1fr;
    }

    .ft-links {
      grid-template-columns: 1fr;
    }

    .ft-buttons a {
      display: inline-block;
      margin: 0.5rem 0.25rem;
    }

    .ft-col {
      text-align: center;
    }

    .ft-copy {
      text-align: center;
    }
  }



  /* -----res */
  